<div class="row">
    <div class="col-lg-12">
        <button type="button" class="btn btn-primary btn-sm" data-ng-click="addUser()"><i class="fa fa-plus"></i> {{aLanguage.add}}</button>
    </div>


    <div class="col-lg-12">
        <div data-ag-grid="listUsersGrid" style="height: 60vh !important;" class="ag-theme-fresh"></div>
    </div>

    <div class="col-lg-12">
        <input data-ng-model="userIdSelected" /><button type="button" data-ng-click="modUserId()">cambiar</button>
    </div>
</div>

