<div id="addSaleInvoiceDiv" class="row">
    <table class="table table-bordered">
        <tr>
            <td style="width:20%">!!Venta mostrador 2222222</td>
            <td style="width:60%">
                <table id="tableControls" class="table table-bordered">
                    <tr>
                        <td style="width:15%;">{{aLanguage.articleCode}}</td>
                        <td style="width:25%;">
                            <input type="text" class="form-control" data-ng-model="currentProductCode">
                        </td>
                        <td style="width:15%;">
                            <center>
                                <button type="button" class="btn btn-primary btn-sm" data-ng-click="addProduct()" data-ng-disabled="currentProductCode == ''">{{aLanguage.addProduct}}</button>
                            </center>
                        </td>
                        <!-- <td style="width:15%;">{{aLanguage.discount}}</td>
                        <td style="width:20%;">
                            <input type="text" class="form-control">
                        </td>
                        <td style="width:25%;">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <button class="btn btn-primary btn-sm btnAmount" type="button" data-ng-click="addRemoveAmount(1)">+</button>
                                </div>
                                <input type="text" class="form-control" data-ng-model="productAmount">
                                <div class="input-group-append">
                                    <button class="btn btn-primary btn-sm btnAmount" type="button" data-ng-click="addRemoveAmount(-1)">-</button>
                                </div>
                            </div>
                        </td> -->
                    </tr>
                </table>
            </td>
            <td style="width: 20%; vertical-align: bottom;" rowspan="4">
                <table class="table table-bordered">
                    <tr><td>{{aLanguage.totalWithoutIVA}}</td><td>$ {{totalWithoutIvaValue}}</td></tr>
                    <tr><td>{{aLanguage.IVA}}</td><td>$ {{IVAValue}}</td></tr>
                    <tr><td>{{aLanguage.totalDiscount}}</td><td>$ {{totalDiscountValue}}</td></tr>
                    <tr><td>{{aLanguage.netTotal}}</td><td>$ {{netTotalValue}}</td></tr>
                </table>
            </td>
        </tr>
        <tr>
            <td rowspan="2">

                <table id="tableOptions">
                    <tr>
                        <td>
                            <center>
                                <label class="kt-checkbox">
                                    <input data-ng-model="invoiceSale.chkInfoSale" type="checkbox">
                                    <span></span>
                                </label>
                            </center>
                        </td>
                    </tr>
                    <tr><td><center>{{aLanguage.clientInfo}}</center></td></tr>
                    <tr><td><input data-ng-disabled="!invoiceSale.chkInfoSale" type="text" class="form-control" placeholder="{{aLanguage.document}}" data-ng-model="invoiceSale.clientDocument"></td></tr>
                    <tr><td><input data-ng-disabled="!invoiceSale.chkInfoSale" type="text" class="form-control" placeholder="{{aLanguage.clientName}}" data-ng-model="invoiceSale.clientName"></td></tr>

                    <tr><td><br /></td></tr>
                    <tr><td><center>{{aLanguage.vendorInfo}}</center></td></tr>
                    <tr>
                        <td>
                            <center>
                                <select class="form-control" id="selectVendors">
                                    <option></option>
                                </select>
                            </center>
                        </td>
                    </tr>
                </table>
            </td>
            <td rowspan="2">
                <div data-ag-grid="productsGrid" id="productsGrid" class="ag-theme-fresh"></div>
            </td>
        </tr>
        <tr>
            <td rowspan="2" style="vertical-align:bottom;">
            </td>
        </tr>
        <tr>
            <td colspan="2">{{userLogin.CompanyName
                                }}
</td>
        </tr>
    </table>
</div>